<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="divulgar-obra">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Divulgar obra</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa-obras">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa das obras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>